@import url("https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
}

/* 
h1 {
  font-family: "Lavishly Yours", cursive;
} 
*/

h1 {
  font-family: "Arial Narrow Bold", sans-serif;
}
