:root {
  --cor-fundo: #333;
  --cor-gradiente-inicial: #f87537;
  --cor-gradiente-final: #fba81f;
}

.animal-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 4.5rem;
}

.animal-card:hover {
  transform: scale(1.05);
}

.animal-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  background-color: var(--cor-fundo);
}

.animal-image-wrapper:hover {
  transition: ease-in-out 0.3s;
  background: linear-gradient(
    135deg,
    var(--cor-gradiente-inicial),
    var(--cor-gradiente-final)
  );
}

.animal-image {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.animal-name {
  margin-top: 15px;
  font-weight: bold;
  color: var(--cor-fundo);
}
